<app-admin-header></app-admin-header>
<app-sidebar></app-sidebar>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Temples</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-monitor fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">8</h1>
                            <span class="font-bold no-margins">
                        <!-- All categories -->
                    </span>
                            <br/>
                            <small>
                                    A temple is a structure reserved for religious or spiritual rituals and activities such as prayer and sacrifice
                            </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/temples/']" [ngStyle]="{'display':'block'}">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Pooja Store</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-monitor fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">860</h1>
                            <span class="font-bold no-margins">
                            <!-- Social users -->
                        </span>
                            <br/>
                            <small>
                                    Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                                </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/poojas/']">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Pandits </h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-monitor fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">150</h1>
                            <span class="font-bold no-margins">
                                <!-- Social users -->
                            </span>
                            <br/>
                            <small>
                                        Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                                    </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/pandits/']">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4> Users</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-monitor fa-4x"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">1260</h1>
                            <span class="font-bold no-margins">
                                    <!-- Social users -->
                                </span>
                            <br/>
                            <small>
                                            Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                                        </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/users/']">More </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <app-admin-footer></app-admin-footer>
</div>