<app-admin-header></app-admin-header>
<app-sidebar></app-sidebar>
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Temples</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <img src="/assets/icons/temple.png" alt="Temple" class="dashboard-stats-icon" />
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">{{counts.temples_count}}</h1>
                            <span class="font-bold no-margins"></span>
                            <br/>
                            <small>
                                    A temple is a structure reserved for religious or spiritual rituals and activities such as prayer and sacrifice
                            </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/temples/']" [ngStyle]="{'display':'block'}">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Pooja Store</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <img src="../../../../assets/icons/store.png" alt="Pooja Store" class="dashboard-stats-icon" />
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">{{counts.poojas_count}}</h1>
                            <span class="font-bold no-margins"></span>
                            <br/>
                            <small>
                                    Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                            </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/poojas/']">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Pandits </h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <img src="../../../../assets/icons/pandit.png" alt="Pandits" class="dashboard-stats-icon" />
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">{{counts.pandits_count}}</h1>
                            <span class="font-bold no-margins"></span>
                            <br/>
                            <small>
                                Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                            </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/pandits/']">More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4> Users</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <img src="../../../../assets/icons/users.png" alt="Users" class="dashboard-stats-icon" />
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">{{counts.users_count}}</h1>
                            <span class="font-bold no-margins"></span>
                            <br/>
                            <small>
                                Pooja is a prayer ritual performed by Hindus of devotional worship to one or more  .....
                            </small>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a [routerLink]="['/users/']">More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
</div>