<app-admin-header>
</app-admin-header>
<app-sidebar></app-sidebar>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a [routerLink]="['/']">Dashboard</a></li>
                        <li class="active">
                            <span>Categories </span>
                        </li>
                    </ol>
                    <div>
                        <a class="btn btn-danger btn-sm" [routerLink]="['/categories']"><i class="fa fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <h1 class="font-light m-b-xs">
                    Categories
                </h1>
                <small></small>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row ">
            <div class="col-md-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="jumbotron text-center" *ngIf="submitted">
                            <h2 classs="text-success">Category added successfully !</h2>
                            <button class="text-center btn btn-primary" (click)="removeJumbo()">Add More</button>
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal" id="categoryForm" [formGroup]="categoryForm" (ngSubmit)="saveCategory(categoryForm.value)" *ngIf="!submitted">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Category Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="category_name" [formControl]="categoryForm.controls['category_name']" class="form-control" placeholder="Category Name" />
                                                <span class="help-block text-danger small" *ngIf="categoryForm.controls['category_name'].hasError('required') && categoryForm.controls['category_name'].touched">Invalid category name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Category Image</label>
                                            <div class="col-md-8">
                                                <input type="file" (change)=fileUploader($event) accept="" class="form-control" />
                                                <input type="hidden" name="category_image" [formControl]="categoryForm.controls['category_image']" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a type="button" [routerLink]="['/categories']" class="btn btn-default">Back</a>
                        <button type="submit" form="categoryForm" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>