<app-admin-header>
</app-admin-header>
<app-sidebar></app-sidebar>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a [routerLink]="['/']">Dashboard</a></li>
                        <li class="active">
                            <span>Categories </span>
                        </li>
                    </ol>
                    <div>
                        <a class="btn btn-primary btn-sm" [routerLink]="['/category/add']"><i class="fa fa-plus"></i> Add new Category</a>
                    </div>
                </div>
                <h1 class="font-light m-b-xs">
                    Categories
                </h1>
                <small></small>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row ">
            <div class="col-lg-12">
                <div class="hpanel hgreen">

                    <div class="panel-body">
                        <table class="table table-bordered table-striped order-column" id="dtable" style="width:100%">
                            <thead>
                                <tr>
                                    <th> Sr.No </th>
                                    <th> Name of the Category </th>
                                    <th> Icon </th>
                                    <th> Status </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="categories">


                                <tr *ngFor="let category of categories; let i = index" id="Ltable">

                                    <td>{{ i + 1}}</td>
                                    <td>{{category.category_name}}</td>
                                    <td><img onError="this.src='http://via.placeholder.com/350x150?text=Category%20icon%20here';" src="{{category.category_image}}" width="40" height="40" alt="{{category.category_name}}" /></td>
                                    <td>
                                        <div *ngIf="category.is_active==='1'; then success"></div>
                                        <ng-template #success>
                                            <label class="label label-success"> Active</label>
                                        </ng-template>
                                        <div *ngIf="category.is_active==='0';then danger"></div>
                                        <ng-template #danger>
                                            <label class="label label-danger">Inactive</label>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-xs" (click)="editCategory($event,category)"> <i class="fa fa-pencil"></i> Edit</button>

                                        <button (click)="removeCategory($event,category,i)" class="btn btn-danger btn-xs">  Remove</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-admin-footer></app-admin-footer>
</div>