<app-admin-header>
</app-admin-header>
<app-sidebar></app-sidebar>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a [routerLink]="['/']">Dashboard</a></li>
                        <li class="active">
                            <span>Categories </span>
                        </li>
                    </ol>
                    <div>
                        <a class="btn btn-danger btn-sm" [routerLink]="['/categories']"><i class="fa fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <h1 class="font-light m-b-xs">
                    Edit Category
                </h1>
                <small></small>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row ">
            <div class="col-md-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="jumbotron text-center" *ngIf="submitted">
                            <h2 classs="text-success">Category updated successfully !</h2>
                            <a class="text-center btn btn-primary" [routerLink]="['/categories']">Goto Categories</a>
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal" id="categoryForm" [formGroup]="categoryForm" (ngSubmit)="updateCategory(categoryForm.value)" *ngIf="!submitted">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Category Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="category_name" [formControl]="categoryForm.controls['category_name']" class="form-control" placeholder="Category Name" />
                                                <span class="help-block text-danger small" *ngIf="categoryForm.controls['category_name'].hasError('required') && categoryForm.controls['category_name'].touched">Invalid category name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Category Image</label>
                                            <div class="col-md-8">
                                                <input type="file" (change)=fileUploader($event) accept="image/*" class="form-control" />
                                                <input type="hidden" name="category_image" [formControl]="categoryForm.controls['category_image']" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Status</label>
                                            <div class="col-md-8">
                                                <select class="form-control" #t name="is_active" [formControl]="categoryForm.controls['is_active']" (change)="callType(t.value)">
                                                    <option *ngFor="let type of types; let key = index" [value]="key" >{{type}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 " *ngIf="!submitted">
                            <img onError="this.src='http://via.placeholder.com/350x150?text=Category%20icon%20here';" width="150" height="150" src="{{cat_img}}" alt="Category Image" />
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="!submitted">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <a type="button" [routerLink]="['/categories']" class="btn btn-default">Back</a>
                                <button type="submit" form="categoryForm" class="btn btn-success">Update changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>